<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwen.mapper.BrandMapper">

    <resultMap id="brandResultMap" type="brand">
        <result property="brandName" column="brand_name"/>
        <result property="companyName" column="company_name"/>
    </resultMap>
    <delete id="batchDelete">
        delete from tb_brand where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <select id="selectByCondition" resultMap="brandResultMap">
        select *
        from tb_brand where
        status = #{status}
        <if test="brandName != null">
            and brand_name like #{brandName}
        </if>
        <if test="companyName != null">
            and company_name like #{companyName}
        </if>
    </select>
    <select id="selectByPage" resultMap="brandResultMap">
        select * from tb_brand limit #{startPage}, #{pageSize}
    </select>


</mapper>